body {
  font-family: "Roboto", sans-serif;
  background-color: #f9fafc;
  padding: 20px;
}

h1 {
  font-size: 16 px;
}

nav-list {
  list-style: none;
}

a {
  text-decoration: none;
  color: #69696a;
}
